<div class="header-bar contain-to-grid">
<!-- <div class="contain-to-grid"> -->
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>{{#link-to 'index'}}Ivo Hanke <span>| Digital Creation</span>{{/link-to}}</h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li>{{#link-to 'work'}}Work{{/link-to}}</li>
        <li>{{#link-to 'brands'}}Brands{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
    </section>
  </nav>
</div>
