.content{
  margin-top: 92px;
  color: $primary-color;
  a{
    color: $primary-color;
  }
  p{
    font-weight: bold;
    font-size: rem-calc(36);
    line-height: 1.2em;
    a, span{
      color: $orange;
      &:nth-child(1n) {
        color: $green;
      }
      &:nth-child(2n) {
        color: $purple;
      }
    }
  }

  ul{
    list-style: none;
    margin: 0;
    li a{
      color: $smoke;
      font-weight: bold;
      font-size: rem-calc(24);
      line-height: 1.2em;
      color: $primary-color;
    }
  }

  section{
    h2{
      color: $smoke;
      background: $primary-color;
    }
  }
}
