.content{
  overflow: hidden;
  section{
    position: relative;
    min-height: 600px;
    padding: rem-calc(45) 0;
    color: $oil;
    // &:before{
    //   content: '';
    //   position: absolute;
    //   bottom: 12%;
    //   left: 0%;
    //   width: 120%;
    //   height: 100%;
    //   background: $pink;
    //   // border-radius: 100%;
    //   transform: rotate(2deg);
    //   z-index: 0;
    // }
    &.opener{
      overflow: hidden;
      width: 100%;
      svg{
        position: absolute;
        width: auto;
        height: 840px;
        margin-top: -160px;
        margin-left: -550px;
        fill: darken($pink, 4%);
      }
    }
    &:nth-child(1n){
      background-color: $pink;
      h2{
        color: $orange;
        font-size: rem-calc(36);
        // text-align: center;
      }
      &:before{
        content: '';
        position: absolute;
        bottom: 12%;
        left: -10%;
        width: 120%;
        height: 100%;
        background: $pink;
        // border-radius: 100%;
        transform: rotate(2deg);
        z-index: 0;
      }
    }
    &:nth-child(2n){
      background-color: $green; //darken($green, 5%);
      h2{
        color: $orange;
        font-size: rem-calc(36);
        // text-align: center;
      }
      &:before{
        content: '';
        position: absolute;
        bottom: 12%;
        left: 0%;
        width: 120%;
        height: 100%;
        background: $green;
        // border-radius: 100%;
        transform: rotate(-2deg);
        z-index: 0;
      }
    }
  }
  h3, h4, h5, h6{
    color: $yellow;
  }
  a{
    color: $oil;
  }
  p{
    font-size: rem-calc(18);
    font-weight: 300;
    line-height: 1.2em;
    color: $purple;
  }

  ul{
    list-style: none;
    margin: 0;
    li a{
      color: $smoke;
      font-size: rem-calc(24);
      line-height: 1.2em;
      color: $oil;
    }
  }
  .icon{
    font-size: rem-calc(144);
    color: $pink;
  }

  $cube-color: lighten($pink, 5%);
  $cube-size: 100px;
  $animation-duration: 1.2s;

  // keyframes
  @keyframes color-shift {
    0%, 100% {
      background: $cube-color;
    }
    33% {
      background: lighten($cube-color, 8%);
    }
    66% {
      background: lighten($cube-color, 16%);
    }
  }

  // apply animation
  .logo.animate span {
    animation: color-shift $animation-duration infinite;
    &:nth-child(2) {
      animation-delay: -$animation-duration / 3 * 2;
    }
    &:nth-child(3) {
      animation-delay: -$animation-duration / 3;
    }
  }

  // logo container
  .logo {
    position: relative;
    height: $cube-size * 2;
    width: $cube-size * 1.8;
    // cube container
    .cube {
      position: absolute;
      top: 50%;
      left: 50%;

      &:nth-child(2) {
        transform: rotate(180deg) scale(.5);
      }

      span {
        transform-origin: 0 0;
        position: absolute;
        height: $cube-size;
        width: $cube-size;

        // top
        &:nth-child(1) {
          transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
          background: lighten($cube-color, 16%);
        }
        // left
        &:nth-child(2) {
          transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
          background: $cube-color;
        }
        // right
        &:nth-child(3) {
          transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
          background: lighten($cube-color, 8%);
        }
      }
    }
  }
}
