@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);

@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('../fonts/BLOKKNeue-Regular.eot');
    src: url('../fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BLOKKNeue-Regular.woff') format('woff'),
         url('../fonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
  font-family:"DIN Next LT W04 Bold Condensed";
  src:url("../fonts/1448961/984a1817-0ec5-430a-885f-799b30a2317d.eot?#iefix");
  src:url("../fonts/1448961/984a1817-0ec5-430a-885f-799b30a2317d.eot?#iefix") format("eot"),
    url("../fonts/1448961/66996a72-dba6-4cf0-9da0-3f0120c236e2.woff2") format("woff2"),
    url("../fonts/1448961/fa41f035-6da6-495b-a00b-93fe909af132.woff") format("woff"),
    url("../fonts/1448961/d8939c5b-ab59-4d1c-85d9-a196a0920079.ttf") format("truetype"),
    url("../fonts/1448961/5c765704-d59b-47ec-989e-c9ff561f34c4.svg#5c765704-d59b-47ec-989e-c9ff561f34c4") format("svg");
}
