.top-bar{
  .name h1 a{
    font-size: 36px;
    font-weight: bold;
    span{
      color: $iron;
      display: inline !important;
    }
  }
}

.top-bar-section{
  ul li a{
    font-size: 18px;
    font-weight: bold;
  }
}
