.header-bar{
  padding-top: 0;
  transition: all .3s;
  .top-bar{
    // transition: all .3s;
    &.expanded{
      margin-bottom: rem-calc(48);
    }
    .name h1 a{
      outline: none;
      color: $green;
      font-family: "DIN Next LT W04 Bold Condensed";
      font-size: rem-calc(24);
      text-transform: uppercase;
      transition: all .3s;
      padding: 0 rem-calc(10);
      &:hover{
        color: darken($green, 5%);
        span{
          color: darken($aluminum, 5%);
        }
      }
      span{
        transition: all .3s;
        color: $base;
        font-size: rem-calc(24);
        display: inline !important;
      }
    }
  }

  .top-bar-section{
    transition: all .3s;
    // opacity: 0;
    ul li{
      transition: all .3s;
      &:hover{
        a{
          background: transparent !important;
          color: darken($iron, 5%);
        }
      }
      a{
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        outline: none;
        transition: all .3s;
        color: $iron;
        text-transform: uppercase;
        font-family: "DIN Next LT W04 Bold Condensed";
        font-weight: 200;
        font-size: rem-calc(24);
        vertical-align: bottom;
        width: rem-calc(120px);
        span{
          transition: all .3s;
        }
        &.active{
          color: $green;
        }
      }
    }
  }
  @media #{$medium-up}{
    .top-bar{
      .name h1 a{
        font-size: rem-calc(36);
        span{
          font-size: rem-calc(36);
        }
      }
    }
  }
  @media #{$large-up}{
    padding-top: rem-calc(48);
    .top-bar{
      &.expanded{
        margin-bottom: 0;
      }
      .name h1 a{
        font-size: rem-calc(48);
        span{
          font-size: rem-calc(48);
        }
      }
    }
    .top-bar-section{
      ul li{
        a{
          &.active{
            text-align: right;
            transform: rotate(-90deg) translateX(-32px) scale(1.1);
          }
        }
      }
    }
  }
}
