@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);;
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);

@import "settings";

@import "foundation";

@import "header";
@import "video";
@import "canvas";
@import "content";
@import "sidebar";
@import "footer";


.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

// html, body{
//   background: url(images/background.png) no-repeat;
//   background-size: 100% auto;
// }

// p{
//   font-size: 44px;
//   font-weight: bold;
//   line-height: 1.2em;
// }


::-moz-selection {
  background: $pink;
}

::selection {
  background: $pink;
}
