<section class="about">
  <div class="row">
    <div class="small-12 medium-6 column">
      <h3>Interaction Designer @ <a href="http://publicispixelpark.de" target="_new">Publicis Pixelpark</a></h3>
      <p>
        <em>User Experience Advocat, Designer, Analyst, Consultant, Strategic Thinker, Data Scientist and more</em>
      </p>
      <p>
        Muskauer Str. 16<br>
        10997 Berlin/Kreuzberg<br/>
        <a href="mailto:mail@ivohanke.de">mail@ivohanke.de</a>
      </p>
      <div class="social">
        <a href="https://www.facebook.com/ivo.hanke" target="_new"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/ivohanke" target="_new"><i class="fa fa-twitter-square"></i></a>
        <a href="https://de.linkedin.com/pub/ivo-hanke/64/b7/77a" target="_new"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://www.xing.com/profile/Ivo_Hanke" target="_new"><i class="fa fa-xing-square"></i></a>
        <a href="https://github.com/ivohanke" target="_new"><i class="fa fa-github-square"></i></a>
      </div>
    </div>
    <div class="small-12 medium-6  column portrait">
      <div class="portrait-shadow2">
      </div>
      <div class="portrait-shadow1">
      </div>
      <div class="portrait-image">
      </div>
    </div>
  </div>
</section>
