<div class="row full-width">
  <div class="small-12 column">
    <h2 id='title'>About</h2>

    <h3>Ivo Hanke</h3>
    <p>
      Diplom-Informatiker (FH)<br>
      Web- und Software-Entwickler<br>
      Muskauer Str. 16<br>
      10997 Berlin/Kreuzberg
    </p>
    <p>
      <a href="mailto:mail@ivohanke.de">mail@ivohanke.de</a>
    </p>
  </div>
</div>
