<section class="about">
  <div class="row">
    <div class="small-12 medium-6 column portrait">
      <div class="portrait-shadow2">
      </div>
      <div class="portrait-shadow1">
      </div>
      <div class="portrait-image">
      </div>
    </div>
    <div class="small-12 medium-6 column">
      <h3>Senior Interaction Designer</h3>
      <p>
        <a href="http://publicispixelpark.de" target="_new">Publicis Pixelpark Berlin</a>
      </p>
      <p>
        User Experience Advocat, Designer, Analyst, Consultant, Strategic Thinker, Data Scientist and  more
      </p>
      <p>
        Muskauer Str. 16<br>
        10997 Berlin/Kreuzberg
      </p>
      <p>
        <a href="mailto:mail@ivohanke.de">mail@ivohanke.de</a>
      </p>
    </div>
  </div>
</section>
