<section>
  <div class="row">
    <div class="small-12 column">
      <p>
        These are some brands I had the chance to work for:
      </p>
      <div class="brands">
        <img src="svg/Test_Logo.svg" alt="Stiftung Warentest" />
        <img src="svg/Bbraun_Logo.svg" alt="B. Braun" />
        <img src="svg/Pfizer_Logo.svg" alt="Pfizer" />
        <img src="svg/Red_Bull_Logo.svg" alt="Red Bull" />
        <img src="svg/Chocolat_Frey_Logo.svg" alt="Chocolat Frey" />
        <img src="svg/Volkswagen_Logo.svg" alt="Volkswagen" />
        <img src="svg/Mercedes_Benz_Logo.svg" alt="Mercedes Benz" />
      </div>
    </div>
  </div>
</section>
