<div class="row full-width">
  <div class="small-12 column">
    <h2>Clients</h2>
    <p>
      <a href="https://sinnerschrader.com/de/" title="SinnerSchrader">SinnerSchrader</a>
      <a href="https://apgd.de/" title="Account Planning Group Deutschland">Account Planning Group Deutschland</a>
      <a href="http://www.lukaslindemannrosinski.de/" title="Lukas Lindemann Rosinski">Lukas Lindemann Rosinski</a>
      <a href="http://pixelpark.com/" title="Pixelpark">Pixelpark</a>
      <a href="http://3pc.de/" title="3pc Neue Kommunikation">3pc Neue Kommunikation</a>
      <a href="http://jugendfeuerwehr.de/" title="Deutsche Jugendfeuerwehr">Deutsche Jugendfeuerwehr</a>
      <a href="http://www.bpb.de/" title="Bundeszentrale für politische Bildung">Bundeszentrale für politische Bildung</a>
      <a href="http://www.fu-berlin.de/" title="Freie Universität Berlin">Freie Universität Berlin</a>
      <a href="http://www.wilhelmreinke.de/" title="Wilhelm Reinke">Wilhelm Reinke (Fotograf)</a>
      <a href="http://www.darv.de/" title="Deutscher Archäologen Verband">Deutscher Archäologen Verband</a>
      <a href="http://www.marcbrandenburg.de/" title="Marc Brandenburg">Marc Brandenburg (Freier Künstler)</a>
      <a href="http://www.kulturprojekte-berlin.de/" title="Berliner Kulturprojekte GmbH">Berliner Kulturprojekte GmbH</a>
      <a href="http://www.lutherpilger.de/index.html" title="Harald Mittrücker">Harald Mittrücker (Reiseführer)</a>
      <a href="http://www.september-berlin.com/page/start/en" title="Galerie September">Galerie September</a>
      <a href="http://www.montblanc.de/" title="Mont Blanc">Mont Blanc</a>
      <a href="http://ngbk.de/site/" title="Neue Gesellschaft für Bildende Kunst e. V.">Neue Gesellschaft für Bildende Kunst e. V.</a>
      <a href="http://darv.de/" title="Deutscher Archäologen-Verband e.V. (DArV)">Deutscher Archäologen-Verband e.V. (DArV)</a>
    </p>
    <h2>Current Projects</h2>
      <p>Webauftritt der Fachtagung Nah dran - Wir gestalten Demokratie | Oktober 2011</p>
      <p>Webauftritt Marks und die Engel - Film- und TV-Produktion | Juni 2011 </p>
      <p>Relaunch Webauftritt Freie Universität Berlin Freie Universität Berlin | Juni 2011</p>
      <p>Webauftritt '50 Jahre Mauerbau' Kulturprojekte Berlin GmbH | April 2011</p>
      <p>Webauftritt des E-Science-Projekts 'Empirische Medienästhetik' Exzellenzcluster 'Languages of Emotion' der Freien Universität Berlin | April 2011</p>
  </div>
</div>
