<div class="row full-width">
  <div class="small-12 column">
    <p>
      <span>User Experience</span>
      <span>Concept</span>
      <span>Consulting</span>
      <span>Development</span>
      <span>Webapps</span>
      <span>Migration</span>
      <span>HTML</span>
      <span>User journeys</span>
      <span>Mapping</span>
      <span>User centered design</span>
      <span>Navigation</span>
      <span>Mind map</span>
      <span>JavaScript</span>
      <span>Analytics</span>
      <span>JavaScript</span>
      <span>CSS</span>
      <span>QS</span>
      <span>JavaScript</span>
    </p>
  </div>
</div>
