<section class="opener">
  <div class="row">
    <div class="small-12 column">
      <div class="buzz">
        Digital Creative Interaction Design Research User Experience Analytics Web Development Frontend Content Strategy E-Commerce Online Marketing Business Objectives Workshops Lean Agile User Centered Design Rapid Prototyping Wireframes Concept Development Consulting Data Science Modular Styleguide Patterns
      </div>
      <div class="buzz-shadow">
        Digital Creative Interaction Design Research User Experience Analytics Web Development Frontend Content Strategy E-Commerce Online Marketing Business Objectives Workshops Lean Agile User Centered Design Rapid Prototyping Wireframes Concept Development Consulting Data Science Modular Styleguide Patterns
      </div>
    </div>
  </div>
</section>

<!-- <section class="opener">
  <div class="row">
    <div class="small-12 medium-7 column">
      <h2>Ever tried. Ever failed. No matter. Try Again. Fail again. Fail better.</h2>
      <h4>Samuel Beckett</h4>
    </div>
  </div>
</section> -->

<!-- <section class="">
  <div class="row">
    <div class="small-12 medium-8 column">
      <h2>User Experience</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et dolore magna aliquyam erat, sed diam voluptua. At vero eos
        et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="small-12 medium-4 column">
      <div class="logo">
        <div class="cube">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="cube">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="row">
    <div class="small-12 medium-4 column">
      <div class="logo">
        <div class="cube">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="cube">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div class="small-12 medium-8 column">
      <h2>Interaction Design</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et dolore magna aliquyam erat, sed diam voluptua. At vero eos
        et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
</section>

<section class="">
  <div class="row">
    <div class="small-12 medium-8 column">
      <h2>Frontend Development</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum.
      </p>
    </div>
    <div class="small-12 medium-4 column">
      <div class="logo">
        <div class="cube">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="cube">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="row">
    <div class="small-12 medium-8 column">
      <h2>Mobile Development</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum.
      </p>
    </div>
    <div class="small-12 medium-4 column">
      <div class="logo">
        <div class="cube">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="cube">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</section> -->
