<section>
  <div class="row">
    <div class="small-12 column">
      <h2 id='title'>Projects</h2>

      <ul>
        {{#each model as |project|}}
          <li>{{#link-to 'project' project}}{{project.title}}{{/link-to}}</li>
        {{else}}
          Sorry, no project yet.
        {{/each}}
      </ul>
    </div>
  </div>
</section>
<!-- <section>
  <div class="row">
    <div class="small-12 column">
      <h2 id='title'>Client Projects</h2>
      <p>Webauftritt der Fachtagung Nah dran - Wir gestalten Demokratie | Oktober 2011</p>
      <p>Webauftritt Marks und die Engel - Film- und TV-Produktion | Juni 2011 </p>
      <p>Relaunch Webauftritt Freie Universit채t Berlin Freie Universit채t Berlin | Juni 2011</p>
      <p>Webauftritt '50 Jahre Mauerbau' Kulturprojekte Berlin GmbH | April 2011</p>
      <p>Webauftritt des E-Science-Projekts 'Empirische Medien채sthetik' Exzellenzcluster 'Languages of Emotion' der Freien Universit채t Berlin | April 2011</p>
    </div>
  </div>
</section> -->
