<section>
  <div class="row">
    <div class="small-12 column">
      {{#link-to 'projects'}}{{fa-icon 'angle-left'}} Back{{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="small-12 column">
      <h2 id='title'>{{title}}</h2>
      <p>{{description}}</p>
    </div>
  </div>
</section>
