<section>
  <div class="row">
    <div class="small-12 column">
      {{#link-to 'projects'}}X{{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="small-12 column">
      <h5>Project</h5>
      <h2 id='title'>{{title}}</h2>
      <p>{{description}}</p>
    </div>
  </div>
</section>
