<div class="row full-width">
  <div class="small-12 column">
    <h2 id='title'>Projects</h2>

    <ul>
      {{#each}}
        <li>{{#link-to 'project' this}}{{title}}{{/link-to}}</li>
      {{else}}
        Sorry, nobody is here.
      {{/each}}
    </ul>


    {{outlet}}
  </div>
</div>
